.beyondbard--popup {
  .beyondbard--chatgpt {
    border: none;
  }

  .beyondbard--container #gpt-answer.markdown-body.gpt-markdown .beyondbard--chatgpt--header {
    margin-top: 0 !important;
  }
}

.beyondbard--popup--card {
  // margin-top: 10px;

  .content {
    padding: 0 !important;
  }
}
